.users{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
    margin: 25px 45px;
    padding: 25px;
    border: 1px solid blue;
    border-radius: 30px;
}
